{% extends 'base.html' %}


{% block content %}
  <main>
    <div>
        {% if trip.image %}
            <img src="{{ trip.image }}" alt="trip image" width="500">
        {% endif %}
        <h1>{{ trip.name }}</h1>
        <p>{{ trip.description }}</p>
        <p>
            Arrive on: {{ trip.arrival_date }}
            Depart on: {{ trip.departure_date }}
        </p>
        <h2>Trip Members</h2>
        <p>
            {% for guest in trip.guests.all %}
                <li>{{ guest }}</li>
            {% endfor %}
        </p>
        <h2>Trip Events</h2>
        <table>
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Duration</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for event in trip.events.all %}
                    <tr>
                        <td>{{ event.start_time }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.location }}</td>
                        <td>{{ event.duration }}</td>
                        <td>{{ event.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Yelp Recommendations Nearby</h2>
        <ul>
            {% for recommendation in recommendations %}
                <li>{{ recommendation }}</li>
            {% endfor %}
        </ul>

    </div>
  </main>
{% endblock content %}
