{% extends "base.html" %}

{% block content %}
  <button><a class="white_text" href="{% url 'create_trip' %}">Create a Trip</a></button>
  <main>
    {% for trip in trip_list %}
      <div>
        <h2>
          <a href="{% url 'trip_detail' trip.pk %}">{{ trip.name }}</a>
        </h2>
        <p>
          {{ trip.arrival_date |date:'M Y' }} - {{ trip.departure_date |date:'M Y' }}
        </p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
