{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Planner</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<header>
    <nav>
        <h1>Trippin</h1>
        <ul>
            <button>
                <a href="{% url 'home' %}">Home</a>
            </button>
            {% if user.is_authenticated %}
            <button>
                <a href="{% url 'logout' %}">Logout</a>
            </button>
            {% endif %}

        </ul>
    </nav>
</header>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
