{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Planner</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<header>

</header>
<body>
    {% if user.is_authenticated %}
    <button><a href="{% url 'trip_list' %}">Trips</a></button>
    <button><a href="{% url 'logout' %}">Logout</a></button>
    {% else %}
    <button><a href="{% url 'login' %}">Login</a></button>
    {% endif %}

</body>
</html>
