@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, select, textarea, input {
    font-family: 'Roboto';
    font-size: 16px;
    background: rgb(136,175,181);
    background: linear-gradient(90deg, #E0E2DB 0%, #B8BDB5 45%, #5F7470 84%);
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    justify-items: left;
    border-bottom: 5px solid rgb(84, 85, 92);
    padding: 5px;
    margin: 5px;
}

a, a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

button {
    background-color: #889696;
    border: 2px solid transparent;
    border-radius: 6px;
    color: white;
    padding: 0px 50px;
    text-transform: uppercase;
}
button.button:hover {
    background-color: white;
    border-color: red;
    color: red;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(84, 80, 84);
}
 thead {
    border-bottom: 2px solid black;
 }

 td {

 }

.white_text {
    color: white;
}

.image {
    width: 500px;
}
